/* Container for the footer */
.videoFooter {
    position: relative;
    color: white;
    bottom: 150px;
    margin-left: 40px;
    display: flex;
}

/* Text Container */
.videoFooter__text {
    flex: 1;
}

/* Video description */
.videoFooter__text > p {
    padding-bottom: 20px;
}

/* Creater Link */
.videoFooter__text > h3 {
    padding-bottom: 20px;
}

/* Music Note Icon */
.videoFooter__icon {
    position: absolute;
}

/* Ticker */
.videoFooter__ticker > .ticker {
    height: fit-content;
    margin-left: 30px;
    width: 60%;
}

/* Ticker Information */
.videoFooter__ticker h1 {
    padding-top: 7px;
}

/* Image of Record */
.videoFooter__record {
    animation: spinTheRecord infinite 5s linear;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 0;
    right: 20px;
}

/* Animation to spin the Record Image */
@keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



